@charset "UTF-8";

@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root{
	--base-text-dark: black;
	--base-text-light: #fff;
	--sub-text-color: #C5D2E3;
	--primary-color: #94DD26;
	--sub-color: #4C5A46; 
}
*{
	margin: 0;
	padding: 0;	
	font-family: 'GmarketSansMedium',sans-serif;
	
}

html{ font-size: 20px; } /* 폰트 기준 */


body{
	font-family: 'Maven Pro','Noto Sans KR', sans-serif;
	font-size : .7rem;	/* 14px로 렌더링 */
	font-weight: 400; /* 100~900, bold, bolder, thin */
	color: var(--base-text-dark);
	/* background-color: var(--primary-color); */
	overflow-x: hidden;
  	overflow-y: scroll; 
  	height: 3000px;
}

ul{
	list-style: none;
	color: var(--base-text-light);
}
a{
	color: inherit;
	text-decoration: none;
}

.d-none{
	display: none !important;
}
.container{
	margin: 0 auto;
	max-width: 1190px;
}
.pos-relative{
	position: relative;
}
.pos-absolute{
	position: absolute;
}.pos-fixed{
	position: fixed;
}
.pos-sticky{
	position: sticky;
	padding-top: 0px;
 	top: 0px;
 	z-index:999;
}
.material-symbols-outlined {
		  font-variation-settings:
		  'FILL' 0,
		  'wght' 400,
		  'GRAD' 0,
		  'opsz' 48
}		
/* ========================= MainHeader ===================================  */
.main-header{	
    width: 100%;
    height: 100px;
    background-color: var(--sub-color);
    text-align: center;
}	
.gnb li{
	padding: .6rem;
	margin-right: 4rem;
}
.gnb{
	display: flex;
	justify-content: center;
	background-color: var(--sub-color);
	height: 1.8rem;
}
/* ========================= Auto Banner ==================================  */
#visual {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  max-width: 100%;
  height: 800px;
  margin: 0 auto;
  overflow: hidden;           
  /* box-shadow: 1px 5px 10px 2px #666; */
  text-align: center;
  font-size: 1.2rem;

}      
#visual>div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
  opacity: 0;
 /*  margin-left: 20rem;
  flex:1; */
}
#visual div:nth-child(1){
	background-color: var(--primary-color);
}
#visual div:nth-child(2){
	background-color: #93C2E0;
  	display: flex;
  	justify-content: center;
  	padding-top: 5rem;
 	overflow: hidden; 
}
#visual div:nth-child(3){
	background-color: #DBDFF7;
	display: flex;
  	justify-content: center;
  	padding-top: 5rem;
 	overflow: hidden; 
}
#visual>div.on{
  opacity: 1;
}
#control { 
  position: absolute;
  width: 100%;
  bottom: 30px;
  text-align: center;         
}
#control a {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #f6f5f5;                       
  line-height: 26px;
  font-size: 0.8em;
  border-radius: 14px;
  margin: 0 2px
}

#control a.on {
  background: #9ab3f5;
}
/* ========================= Section > mainChart ==================================  */
.title{
	color : var(--base-text-dark);
	margin-top: 3rem;
}
.sub-title{
	color : var(--sub-color);
	margin-bottom: 3rem;
}
.title, .sub-title{
	display: flex;
	justify-content: center;
}
.char-list::after, .carousel::after{
	content: '';
	display: block;
	clear: both;
	height: 0;
}
.char-list li{
	float: left;
	border: 1px solid var(--primary-color);;
	box-sizing: border-box;
	width: calc(100% / 3 - 2px);
	overflow: hidden;
}
.char-list li:hover .overlay{
	display: flex;
}
.char-list .overlay{
	background-color:  rgba(0,0,0,.7);
	color: var(--base-text-light);
	width: 100%;
	height: 100%;
}
.over-title{
	position: inherit;
	top: 40%;
	left: 40%;
	font-size: 1.3rem;
}
chart-album img{
	width:700px;
}
.chart-album .overlay{
	background-color:  rgba(0,0,0,.7);
	color: var(--base-text-light);
	width: 100%;
	height: 100%;
}
.chart-album li:hover .overlay{
	display: flex;
}
.overlay{
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.overlay p{
	text-align: center;
}
.chart-album{
	display: flex;
	flex-wrap: wrap;
}

/* ========================= Section > music-list ==================================  */
.music-wrap{
	display: flex;
	justify-content: center;
}
#table{
	 border: .2rem solid var(--primary-color); 
	 width: 70%;
	 text-align: center;
	 
}
#table td{
	text-align: center;
}
#table img{
	width: 75px;
	height: 75px;
	text-align: center;
}
/* ========================= Section > main-favorite > play-section ==================================  */

/* ========================= Section > main-newAlbum > new-list ==================================  */
.main-newAlbum{
	margin-bottom: 3rem;	
}
.new-list{
	height: 750px;
	background-color: var(--sub-color);
}

/* ========================= Aside-SidePanel ==================================  */

/* ========================= Footer ==================================  */
footer{
	padding: 30px 0;
	text-align: center;
	margin-left: 400px;
}
.footer-guide{
	display:flex;
	justify-content: center;
}
.guide-links li{
	display: inline-block;
	font-size: .825rem;
	color: black;
}


